@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
#menu-bar {
  display: none;
}


header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.menu {
  margin: 50px -61px;
  float: right;
  width: 14%;
  height: 42%;
  background: rgba(205, 97, 85, 0.9);
  transition: all 0.2s;
  transform: translateY(-140%);
}

.menu a {
  font-family: 'Quicksand';
  display:block;
  margin: 0;
  color: #fff;
  height: 45px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(253, 254, 254, 0.5);
}
.menu a:hover {
  background: 1px  rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateY(0%);
}
