#imm {
  margin-top: 50px;
  position: relative;
}

#imm img {
  width: 100%;
  height: 750px;
}
#imm .contenedor {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  color: white;
  font-family: 'Maiden Orange';
  font-size: 40px;
}
#imm .contenedor a {
  text-decoration: none;
  width: 200px;
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #fff;
  color: #fff;
  -webkit-transition: background 0.2s;
}

#imm .contenedor a:hover {
  background: rgba(51, 51, 51, 0.5);
}
