@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   font-family: "Roboto";
   font-size: 13pt;
   background: -webkit-linear-gradient(#3498DB, #85C1E9);
 }

header {
  width: 100%;
  height: 60px;
  background: #34495E;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.contenedor {
  font-family: "Arial";
  width: 100%;
  height: 60px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1
{
  font-family: Arial;
  color: #FFF;
  font-size: 30px;
  margin-left: 10px;
}

/*===========================menu==============================*/
#menu-bar {
  display: none;
}

header label {
  font-size: 28px;
  margin: 0;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 100%;
}

.menu a {
  font-family: 'Roboto';
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
  border-radius: 100%;
  transition: all 0.2s;
}
.menu a:hover {
  border-radius: 0;
  background: 1px  rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateY(0%);
}

.icon-menu{
  display: none;
}
/*===============================contenido==============================*/
.conpadre{
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.botonatras{
  background: #ECF0F1;
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
  border: 2px solid #ECF0F1;
  box-shadow: 2px 2px 2px #49494949;
  width: 100px;
  text-align: center;
  margin-bottom: 2%;
  transition: all 0.2s;
}

.botonatras:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 5px #49494949;
}

.editform{
  width: 930px;
  background: rgba(52, 73, 94, 0.8);
  align-self: center;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.dataform{
    width: 465px;
    background: rgba(52, 73, 94, 0.8);
    align-self: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.derecha{
  margin-top: 34px;
  flex-direction: column;
  margin-left: 2%;
}

.editform h2{
  color: #FAFAFA;
  font-family: "Roboto";
  font-size: 18pt;
  font-weight: normal;
  text-align: left;
  padding: 0 0 10px;
}

.dimedit{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

option{
  background: #0D4D53;
}

.editcampo{
  background: transparent;
  border: 2px solid ;
  border: 2px solid #7F8C8D;
  color: #DCDCDC;
  padding: 8px 10px;
  font-family: "Roboto";
  font-size: 12pt;
  margin: 2% 0;
  width: 100%;
}

.group{
  display: flex;
  justify-content: space-between;
}

.gcampo{
  background: transparent;
  border: 2px solid ;
  border: 2px solid #7F8C8D;
  color: #DCDCDC;
  padding: 8px 10px;
  font-family: "Roboto";
  font-size: 12pt;
}

input{
  transition: outline 0.5s;
}

input::placeholder{
  color: #DCDCDC;
}

.frase{
  color: #FFFFFF;
}

.guardar{
  background: #1AADBC;
  border: 2px solid #1AADBC;
  width: 100%;
  padding: 10px;
  font-family: "Roboto";
  font-size: 22px;
  color: #FFFFFF;
  outline: none;
}

.guardar:hover{
  background: #1897A4;
  border: 2px solid #1897A4;
  cursor: pointer;
}

.guardar:active{
  border: 2px inset #1897A4;
}

/*==================sesion==================*/
#conten
{
  display: none;
  background: rgba(52,73,94, 0.8);
  height: auto;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  right: 2%;
  margin-top: 100px;
}

#info
{
  display: flex;
  justify-content: flex-start;
}

#conten img
{
  height: 70px;
  width: auto;
  margin: 20px;
  border-radius: 50%;
}
h2
{
  font-family: Arial;
  font-size: 20px;
  color: #FAFAFA;
  padding: 25px 0px;
}
h3
{
  font-family: Arial;
  font-size: 15px;
  color: #FAFAFA;
  padding: 0px 0px 10px;
}

.one
{
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  color: #FAFAFA;
  padding: 10px;
  text-align: center;
  width: 50%;
  border-bottom-left-radius: 5px;
}

.two
{
  font-family: Arial;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: #FAFAFA;
  text-align: center;
  width: 50%;
  border-bottom-right-radius: 5px;
}

#conten ul
{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.one:hover
{
  background-color: rgba(255,255,255,0.1)
}

.two:hover
{
  background-color: rgba(255,255,255,0.1)
}

#conimg{
  height: 100%;
  margin: 0 15px;
  padding: 5px 0;
}

#conimg img
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#conimg img:hover
{
  cursor: pointer;
}

#usu-menu {
  display: none;
}

#usu-menu:checked ~ #conten {
  display: block;
}

/*=======================pie pagina=======================*/
footer{
  background: #000;
  padding: 30px;
  margin: 0;
  color: #77797B;
  text-align: center;
  font-size: 15px;
}

.pag{
  text-decoration: none;
  color: #fa333f;
}

footer h3{
  color: #FFF;
}


@media (max-width: 990px) {
  .editform{
    width: 465px;
    padding: 20px;
    flex-direction: column;
  }
}

@media(max-width: 850px){
  .icon-menu{
    width: 80%;
    display: block;
    text-align: right;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: auto;
    height: auto;
    background: rgba(52, 73, 94, 0.9);
    transition: all 0.2s;
    transform: translateY(-160%);
    display: block;
    z-index: 100;
  }

  .menu a {
    font-family: 'Quicksand';
    display:block;
    margin: 0;
    color: #fff;
    height: 45px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
  }

  .menu a:hover {
    background: 1px  rgba(255, 255, 255, 0.3);
  }

  #menu-bar:checked ~ .menu {
    transform: translateY(0%);
  }
}

@media (max-width: 490px) {
  .conpadre{
    padding: 2% 0;
  }

  .botonatras{
    margin-left: 10px;
  }

  .editform{
    width: 100%;
    padding: 15px;
    flex-direction: column;
  }

  .dataform{
    width: 465px;
    padding: 15px;
  }
}

@media (max-width: 470px) {
  .group{
    justify-content: flex-start;
    flex-direction: column;
  }

  .gcampo{
    width: 100%;
    margin-top: 10px;
  }
}
