@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto';
    margin: 0;
    padding: 0;
}

/*==========================Cabecera=========================*/
header{
    background: #333;
    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.75);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    color: #FFFFFF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}
/*===============menu================*/
.menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 19.5px 18px;
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    transition: all 0.3s;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid #FA333F;
    border-radius: 0%;
}

#menubarra{
  display: none;
}

.icon-menu{
  display: none;
}

h4{
  font-size: 55px;
}

section {
  display: block;
}

.title{
  font-size: 35px;
}

.antit{
  font-size: 40px;
  color: #FFF;
}

.aoc {
  background: white;
  margin: 50px auto 0;
  color: #333;
  display: flex;
  flex-direction: column;
  width: 1000px;
}

#position {
  width: 450px;
  margin: 2%;
}

.d1{
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 30px;
  margin: 0;
}

.d1 p{
  margin-top: 0px;
  margin-bottom: 60px;
  color: #494949;
  font-size: 20px;
}

.bot{
  padding: 16px 40px;
  background: #f9f9f9;
  border: solid 1px #DCDCDC;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.bot:hover{
  background: #fa333f;
  color: #FFF;
  border-color: #fa333f;
}

footer{
  background: #000;
  padding: 30px;
  margin: 0;
  color: #77797B;
  text-align: center;
  font-size: 15px;
}

.pag{
  text-decoration: none;
  color: #fa333f;
}

h3{
  color: #FFF;
}

.des{
  text-align: center;
}
.enca{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
/*========================prin========================*/
#banner{
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 88vh;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: auto;
}

#banner .contenedor {
  background: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 2%;
  color: white;
  font-family: 'Roboto';
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cabinf{
  width: 90%;
}

#banner .contenedor .cabinf a {
  text-decoration: none;
  width: 200px;
  display: block;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #fff;
  color: #FFFFFF;
  -webkit-transition: background 0.2s;
  font-size: 20px;
}

#banner .contenedor .cabinf a:hover {
  background: rgba(51, 51, 51, 0.5);
}
/*==================contenido==================*/
.contener {
  max-width: 10000px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,auto;)
}
.contener .header {
  color: black;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  font-family: 'Roboto';
}
.contener .contenido {
  grid-column: span 2;
  margin-bottom: 25px;
}

.contener .sildebar {
  grid-column: 3/4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-row: 2 /4;
}
.contener .widget-1 , .widget-2 {
  height: 100px;
}
.contener .folder {
  grid-column: span 3;
  text-align: center;
}
.contener .contenido img {
  width: 250px;
  height: 250px;
  margin-left: 25px;
}

/*============================================*/
@media only screen and (max-width: 135vh){
  #banner img{
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 1015px){
  .aoc {
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }

  .d1{
    padding: 5%;
  }
}

@media only screen and (max-width: 590px){
  .icon-menu{
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 25pt;
  }

  .menu{
    background: rgba(55,55,55, 0.8);
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-125%);
    transition: all 0.2s;
  }

  .menu a {
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px 18px;
    border-bottom: 1px solid #FAFAFA;
    border-radius: 0;
    transition: all 0.3s;
    font-size: 13.5pt;
  }

  .menu a:hover {
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #FA333F;
    border-radius: 0%;
  }

  #menubarra:checked ~ .menu{
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 780px){
  #imm .contenedor .cabinf a{
    width: auto;
    padding: 2px;
    font-size: 30px;
  }
  #position {
    width: 90%;
    margin: 40px 5%;
  }
  .d1{
    padding: 20px;
    display: block;
  }

  .d1 p{
    margin-top: 0px;
    margin-bottom: 30px;
    color: #494949;
    font-size: 20px;
  }
}
